:root {
  --raisin-black: #2E282A;
  --almond: #F2E2D2;
  --bittersweet: #FE5F55;
  --viridian: #56876D;
  --savoy-blue: #6369D1;
  --tropical-indigo: #9D8DF1;
}

body {
  background-color: var(--raisin-black);
}