//bootstrap
@import "bootstrap.scss";

//colors
:root {
  --bs-table-color: $light;
  --bs-table-striped-color: $light;
  --raisin-black: #2E282A;
  --almond: #F2E2D2;
  --bittersweet: #FE5F55;
  --viridian: #56876D;
  --savoy-blue: #6369D1;
  --tropical-indigo: #9D8DF1;
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap');

//mixin
@import 'mixins.scss';

//style
// body {
//   // background-color: var(--raisin-black);
//   // color: var(--almond);
//   font-family: 'Montserrat', sans-serif;
// }

// @include headings {
//   font-family: 'Montserrat', sans-serif;
// }

.animate-size {
  transition-property: width, height, margin, padding, max-width, max-height;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

p {
  font-family: 'Hind', sans-serif;
}

a:not([class]) {
  font-family: 'Hind', sans-serif;
  &:visited {
    color: $link-visited-color;
    text-decoration: $link-visited-decoration;
  }
  // &:hover {
  //   color: $link-hover-color;
  //   text-decoration: $link-hover-decoration;
  // }
  &:active {
    color: $link-active-color;
    text-decoration: $link-active-decoration;
  }
}

body {
  overflow-anchor: none;
}

.tooltip {
  pointer-events: none;

  &[data-popper-reference-hidden] {
    visibility: hidden;
  }
}

// a:not([class]) {
//   color: var(--savoy-blue);
//   text-decoration: none;

//   @include enabled {
//     //order is important (visited -> hover -> active)
//     &:visited {
//       color: var(--tropical-indigo);
//     }
//     &:hover {
//       color: var(--tropical-indigo);
//       text-decoration: underline;
//     }
//     &:active {
//       color: var(--bittersweet);
//     }
//   }
// }
